<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white">
    <div class="container-fluid">
      <a class="navbar-brand text-dark" href="/"/>Ecommerce</a>
      <button
        class="navbar-toggler me-1  bg-dark"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false "
        aria-label="Toggle navigation "
      >
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item text-dark" href="/categoria/Sudaderas">Sudaderas</a>
              </li>
              <li><a class="dropdown-item text-dark" href="/categoria/Camisetas">Camisetas</a></li>
              <li><hr class="dropdown-divider text-dark"></li>
              <li><a class="dropdown-item text-dark" href="/">Todas</a></li>
            </ul>
          </ul>
          <span>
            <a href="/cesta">
              <i class="ms-3 me-3 fa-solid fa-bag-shopping"></i>
            </a>
          </span>
    </div>
</nav>